/* Main */
.main {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    #maincenter {
        width: 75%;

        h2 {
            margin-top: 30px;
            font-size: 40px;
            text-align: center;
        }

        p {
            font-size: 24px;
            margin-top: 15px;
        }

        iframe {
            width: 100%;
            margin-top: 15px;
        }
    }

    #mainaside {
        background: gray;
        margin-left: 10px;
        color: white;
        width: 24%;
        font-size: 20px;
        text-align: center;

        #myCanvas {
            margin-top: 15px;
            width: 85%;
            height: 85%;
        }

        audio {
            height: 10%;
            width: 80%;
        }
    }
}